.header {
  background-color: #000;
}

.header a {
  color: #FFF;
  padding: 10px;
}


.header li {
  display: inline-block;
  margin-left: 10px;

}

.header section {
  padding: 10px;
}

.header ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.logo {
  /*this is for doing a hero image*/
  /*background-image: url(images/logo.html);*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 5px;
  width: 5px;*/
  /*vertical-align: middle;*/
}



.App-logo {
  height: 80px;
}


.logo img {
  height: 100px;
  width: 100px;
}
